{%extends 'base.html'%}

{%block content%}
    <h1 class="title">{%block title%}Employees{%endblock%}</h1>
    <div class="content">
        <h2>(Page {{pagination.page}})</h2>
        {% for employee in pagination.items %}
            <div class="employee">
                <p><b>{{employee.id}}</b></p>
                <b>
                    <p class="name">{{employee.firstname}}{{employee.lastname}}</p>
                </b>
                <p>{{employee.email}}</p>
                <p>{{employee.age}} years old.</p>
                <p>Hired: {{employee.hire_date}}</p>
                {% if employee.active %}
                    <p><i>(Active)</i></p>
                {%else%}
                    <p><i>(Out of office)</i></p>
                {%endif%}
            </div>
        {%endfor%}
    </div>
    
    <div class="pagination">
        {%if pagination.has_prev%}
            <span>
                <a class="page-number" href="{{url_for('index', page=pagination.prev_num)}}">
                    {{'<<<'}}
                </a>
            </span>
        {%endif%}
        {% for number in pagination.iter_pages()%}
            {%if pagination.page != number%}
                <span>
                    <a class="page-number" href="{{url_for('index', page=number)}}">
                        {{number}}
                    </a>
                </span>
            {%else%}
            <span class="current-page-number">
                {{number}}
            </span>
            {%endif%}
        {%endfor%}
        {%if pagination.has_next%}
            <span>
                <a href="{{url_for('index', page=pagination.next_num)}}">
                    {{'>>>'}}
                </a>
            </span>
        {%endif%}
    </div>
{%endblock%}